<!doctype html>
<html ng-app = "senderApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div novalidate ng-controller = "mssgController">
		<h6>Send a message:</h6>
		<form name='messageForm' >
	    	<div >
	      		<div ng-form='titleform' >
	        		<input ng-model="title" class="input-item" placeholder="Subject" required>
		  </span>
	      		</div>
	      		<div ng-form='contentform'>
	        		<textarea ng-model="message" class="input-item" required placeholder="Message"></textarea> 
	      		</div>
	    	</div>
      		<button ng-disabled="!messageForm.$valid" ng-click="postMessage()">Send Message</button>
  		</form>
    </div>
  </body>
</html>

<style type="text/css">
	.ng-invalid.ng-dirty > .input-item{
		background: red;
	}
</style>
<script type="text/javascript">
	var senderApp = angular.module('senderApp', [])
	senderApp.controller('mssgController', ['$scope','$http',function($scope, $http){
	// senderApp.controller('mssgController', ['$scope', 'Upload',function($scope, Upload){

	$scope.postMessage = function(){
		$http.post("/messages", {"title": $scope.title, "message" : $scope.message, "created" : Date.now()}).then(function(data){
			console.log(data)
		}, function(data){
			console.log(data)
		})
	}


  	//File uploading
  	// $scope.upload = function (file) {
  	// 	var FR = new FileReader();
  	// 	FR.onloadend = function(){
  	// 		$scope.temp_detail.picture = FR.result;
  	// 	}
  	// 	FR.readAsDataURL(file); 
   //  };
}]);
</script>